[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service] 
Type=simple
ExecStart=~/.cargo/bin/kanata --cfg ~/.my_config/kanata/config.kbd
Restart=never

[In stall]
WantedBy=default.target 
