[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service] 
Type=simple
ExecStart= /home/light/.cargo/bin/kanata --cfg /home/light/.my_config/kanata/config_corne.kbd
Restart=never

[Install]
WantedBy=default.target 

